<div class="row">
	<div class="col-sm-12">
		<h1>About UrgeZapper</h1>

		<p class="lead">
			I originally developed UrgeZapper as a prototype app to learn AngularJS and to get rid of my inconvenient pack-a-day smoking habit.
		</p>

		<div class="col-sm-6">
			<h2>My Story</h2>
			<p class="text-justify">
				I was convinced that I was eternally a slave to my urges. My smoking habit soon devolved into manic binge-eating and PMO habit that pushed me into severe depression.
			</p>

			<p class="text-justify">
				I knew that I lacked willpower, so I looked for ways to strengthen it in order to resist my urges. I soon discovered the <a analytics-on="click" href="http://www.amazon.com/gp/product/1583335080/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1583335080&linkCode=as2&tag=urgez-20&linkId=2P6LBXEXFMML67CX">book that changed my life forever and is the basis for the technique behind UrgeZapper.</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=urgez-20&l=as2&o=1&a=1583335080" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			</p>

			<p class="text-justify">
				I polished the app a little bit, and presented it to my friends and colleagues. I figured that my little pet project could help them overcome their urges and addictions as it did with me.
			</p>

			<p class="text-justify">
				They raved about how effective it was, and encouraged me to publish it online to help everyone. And that's what I did.
			</p>

			<p class="text-justify">
				I'm a 25-year old Mexican computer programmer with dreams of making it big in the United States. You can find me at my personal website at <a analytics-on="click" href="http://insomn.io">http://insomn.io</a>.
			</p>

		</div>


		<div class="col-sm-6">
			<h2>Reddit</h2>

			<p class="text-justify">
				I owe my life to Reddit. Reddit has taught me things that not event the closest of friends have.  Reddit helped me get through my depression and anxiety episodes. Reddit gave me the tools to lose over 100 lbs of fat using an unusual method. Reddit taught me that PMO leads to depression, anger, anxiety, and ultimately self-destruction.
			</p>

			<p>
				I would like to give a shoutout to the following reddit communities. 

				<ul>
					<li>
						<a href="http://www.reddit.com/r/nofap">/r/NoFap</a>
					</li>
					<li>
						<a href="http://www.reddit.com/r/keto">/r/Keto</a>
					</li>
					<li>
						<a href="http://www.reddit.com/r/stoicism">/r/Stoicism</a>
					</li>
					<li>
						<a href="http://www.reddit.com/r/getmotivated">/r/GetMotivated</a>
					</li>
					<li>
						<a href="http://www.reddit.com/r/RupaulsDragRace">/r/RupaulsDragRace</a>
					</li>
					<li>
						<a href="http://www.reddit.com/r/stopsmoking">/r/stopsmoking</a>
					</li>
					<li>
						<a href="http://www.reddit.com/r/programming">/r/programming</a>
					</li>
					<li>
						<a href="http://www.reddit.com/r/cscareerquestions">/r/cscareerquestions</a>
					</li>
				</ul>

				Reddit is not just a website. Reddit is the most brilliant community in the world wide web. This is my way to give back to the redditors who, without noticing, <b>saved my life</b>.

			</p>

		</div>


	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<h2>Contribute</h2>
		<p class="text-justify">
			You can contribute to UrgeZapper by <a ng-href="#/donate">donating</a>, sharing UrgeZapper on social networks, and participating at our community at <a analytics-on="click" href="http://www.reddit.com/r/UrgeZapper">/r/UrgeZapper</a>, where you can suggest quotes, report issues, and request features, and most importantly, <b>share your success story</b>.
		</p>
	</div>

	<div class="col-sm-6">
		<h2>Recommended Books</h2>
		<p class="text-justify">
			If you want to take your willpower (and, with it, your quality of life) to the next level, I highly suggest grabbing these books. They're real <b>eye-openers and life changers</b>.

			<ul>
				<li><a analytics-on="click" href="http://www.amazon.com/gp/product/1583335080/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1583335080&linkCode=as2&tag=urgez-20&linkId=2P6LBXEXFMML67CX">The Willpower Instinct</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=urgez-20&l=as2&o=1&a=1583335080" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</li>
				<li><a analytics-on="click" href="http://www.amazon.com/gp/product/0316230871/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0316230871&linkCode=as2&tag=urgez-20&linkId=V5DSDGIFFYMSQQL7">The Marshmallow Test: Mastering Self-Control</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=urgez-20&l=as2&o=1&a=0316230871" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</li>
				<li><a analytics-on="click" href="http://www.amazon.com/gp/product/1626340463/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1626340463&linkCode=as2&tag=urgez-20&linkId=IM7OTLXC7KBIPCO2">The Slight Edge: Turning Simple Disciplines into Massive Success and Happiness</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=urgez-20&l=as2&o=1&a=1626340463" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</li>
				<li>
					<a analytics-on="click" href="http://www.amazon.com/gp/product/0679642609/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0679642609&linkCode=as2&tag=urgez-20&linkId=M2LC5N46AQBSBYKJ">Meditations: A New Translation (Modern Library)</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=urgez-20&l=as2&o=1&a=0679642609" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

				</li>

			</ul>

		</p>
	</div>
</div>