<div ng-include="'views/ad.html'"></div>
<div class="row text-center">

	<div class="col-sm-12">
		<h1>Acknowledge your Urge</h1>
		<p class="lead">
			To zap your urge, you must first acknowledge it.
		</p>
		<h2>Follow these steps:</h2>
		<hr>
	</div>
</div>


<div class="row center-block">
	<div class="col-sm-12">
		<ul class="media-list">
		  <li class="media">
		    <div class="media-left">
		      <a href="">
		        <button class="btn btn-circle btn-primary">1</button>
		      </a>
		    </div>
		    <div class="media-body">
		      <h4 class="media-heading">Accept that you're having the urge</h4>
		      By <i>accept</i>, we don't mean that you have to <i>agree</i> you're having the urge. You just need to <b>accept the fact</b> that the thought of having the urge is crossing your mind.
		    </div>
		  </li>

		  <li class="media">
		    <div class="media-left">
		      <a href="">
		        <button class="btn btn-circle btn-success">2</button>
		      </a>
		    </div>
		    <div class="media-body">
		      <h4 class="media-heading">Feel the urge for 60 seconds</h4>
		      <b>Press the big red button</b> below and close your eyes. Breathe slowly and deeply, and let the thought of engaging on the urge flood your mind. Then, bring to mind the reasons why you <b>don't want to indulge</b>.  When you hear the sound of the bell, open your eyes.
		    </div>
		  </li>

		  <li class="media">
		    <div class="media-left">
		      <a href="">
		        <button class="btn btn-circle btn-warning">3</button>
		      </a>
		    </div>
		    <div class="media-body">
		      <h4 class="media-heading">Wait it Out</h4>
		     After feeling the urge to {{ urgeName }}, you will need to wait it out. 99% of people who first feel and then wait their urge to {{ urgeName }}, find themselves <b>totally, if not majorly</b> defused from their urge.
		    </div>
		  </li>
		</ul>
	</div>
</div>

<hr>

<div class="row center-block">
	<div class="col-sm-12">
		<button analytics-on="click" analytics-category="feel" ng-click="feel()" ng-bind="feelButtonMessage" class="btn btn-danger btn-lg btn-block"></button>
	</div>
</div>