<div ng-include="'views/ad.html'"></div>
<div class="row text-center">

	<div class="col-sm-12">
		<h1>Acknowledge your Urge</h1>
		<p class="lead">
			To zap your urge, you must first acknowledge it.
		</p>
		<h2>Follow these steps:</h2>
		<hr>
	</div>
</div>


<div class="row center-block">
	<div class="col-sm-12">
		<ul class="media-list">
		  <li class="media">
		    <div class="media-left">
		      <a href="">
		        <button class="btn btn-circle btn-primary">1</button>
		      </a>
		    </div>
		    <div class="media-body">
		      <h4 class="media-heading">Accept that you're having the urge</h4>
		      By <i>accept</i>, we don't mean that you have to <i>agree</i> you're having the urge. You just need to <b>accept the fact</b> that the thought of having the urge is crossing your mind.
		    </div>
		  </li>

		  <li class="media">
		    <div class="media-left">
		      <a href="">
		        <button class="btn btn-circle btn-success">2</button>
		      </a>
		    </div>
		    <div class="media-body">
		      <h4 class="media-heading">Feel the urge for 60 seconds</h4>
		      <b>Press the big red button</b> below and close your eyes. Breathe slowly and deeply, and let the thought of engaging on the urge flood your mind. Do not avoid thinking about the urge. When you hear the sound of the bell, open your eyes.
		    </div>
		  </li>
		</ul>
	</div>
</div>

<hr>

<div class="row center-block">
	<div class="col-sm-12">
		<button analytics-on="click" ng-click="feel()" ng-bind="feelButtonMessage" class="btn btn-danger btn-lg btn-block"></button>
	</div>
</div>