<div class="row text-center">
	<div class="row">
		<div class="col-sm-12">
			<h1>You Made It!</h1>
			<p class="lead">
				Now, the question is: <b>will you indulge in {{ urgeName }} now?</b>
			</p>
			<div class="row">
				<div class="col-sm-6">
					<button ng-click="indulge()" class="btn btn-block btn-danger btn-lg">Yes</button>
				</div>
				<div class="col-sm-6">
					<button ng-click="wontIndulge()" class="btn btn-block btn-success btn-lg">No</button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="lead">
						<i>Please, tell us the truth.</i>
					</p>
				</div>
			</div>
			<hr>
		</div>
	</div>
</div>