<div class="row text-center">
	<div class="col-sm-12">
		<div>
			<h1>It's OK If You Gave In!</h1>
			<p class="lead">
					Maybe you couldn't resist the temptation <i>this time</i>. But by waiting it out, you have made your mind a little bit stronger in fighting the urge to {{ urgeName }} the next time you have it.
					Remember that <b>progress is made one step (no matter how small) at a time.</b>
			</p>
		</div>
		<div>
			<p>
				If you found UrgeZapper useful, <b>please</b> consider <a href="#/donate">donating</a> to the site. Every dollar counts and helps us keep the site ad-free.
			</p>
			<p>
				Another way to help us out is by <b>recommending and sharing</b> UrgeZapper with your friends.
			</p>
		</div>
	</div>
</div>