<div ng-include="'views/ad.html'"></div>
<div class="jumbotron">
  <h1>Break the Habit</h1>
  <p class="lead">
    UrgeZapper is an easy-to-use tool that helps you <b>deal with the urges</b> that you'd rather not have and <b>exercise your willpower</b>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/start" analytics-on="click" analytics-category="start">Let's get started!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row">
			<div class="col-sm-6 text-justify">
			<h4 class="text-center">Take Your Willpower to the next Level</h4>
			<p>
				The original idea of UrgeZapper came from chapter 7 of the <a analytics-on="click" analytics-category="frontpage-book" href="http://www.amazon.com/gp/product/1583335080/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1583335080&linkCode=as2&tag=urgez-20&linkId=2P6LBXEXFMML67CX">life-changing book "The Willpower Instinct"</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=urgez-20&l=as2&o=1&a=1583335080" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />. Be sure to check it out for even more techniques to train your brain and enhance your      willpower to the extreme!
			</p>

			<hr>
			<h4 class="text-center">We're Animals, After All</h4>
			<p>
				Our primitive brains are wired to crave <b>immediate satisfaction</b>, be it in the form of food, sex, or other kinds of pleasurable activity.
			</p>
			<p>
				When we establish a mandatory 10-minute period between urge and indulging, our brain sees the action as a future reward, making it less desirable.
			</p>
			<hr>
			<h4 class="text-center">Urges Are Temporary</h4>
			<p>
				If you indulge in an urge immediately after you get it, you don't know that <b>even the strongest urges are temporary</b>, and last between 1 to 10 minutes.
			</p>
		</div>
		<div class="col-sm-6 text-justify">
			<h4 class="text-center">It Works like Magic</h4>
			<p>
				99%  of the people that have used this technique, discover that the <b>urge is gone</b> by the time <b>or even before</b> the timer runs out.
			</p>
			<hr>
			<h4 class="text-center">"Never Again" Is Just Too Harsh</h4>
			<p>
				Instead of trying to quit a bad habit cold turkey, strengthen your willpower by putting a delay between the time you have the urge and indulging. If you keep doing it <b>you will eventually break the habit.</b>
			</p>
			<hr>

			<h4 class="text-center">Willpower Is like a Muscle</h4>
			<p class="text-justify">
				The more you work it, the stronger it becomes. If you use <b>UrgeZapper</b> every time you have an urge to {{ urgeName }} or any other kind of urge, you will be better at recognizing and resisting it.
			</p>
		
			
		</div>
	</div>
</div>

