<div ng-include="'views/ad.html'"></div>
<div class="row text-center">
	<div class="col-sm-12">
		<div>
			<h1>Zap!</h1>
			<p class="lead">
				You zapped the urge! That was easy, wasn't it? Be sure to use <b>UrgeZapper</b> every time the urge reappears, and <b>you will break the habit.</b>
			</p>
		</div>
		<div>
			<p>
				If you found UrgeZapper useful, <b>please</b> consider <a href="#/donate">donating</a> to the site. Every dollar counts and helps us keep the site ad-free.
			</p>
			<p>
				Another way to help us out is by <b>recommending and sharing</b> UrgeZapper with your friends.
			</p>
		</div>
	</div>
</div>